<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JumpMagikarpIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70695F5F1EF6F254009EA733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70695F731EF6F254009EA733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70695F7E1EF6F254009EA733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
